body{
    margin: 0;
    background-color: #F8F3E9;
}

*{
    box-sizing: border-box;
}
ul,li{
    list-style:none;
    margin:0;
    padding: 0;
}

.container{
    max-width: 1280px;
    margin:0 auto;
}
.header__top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    }

.header__top-nav_logo{
    font-family: 'PlayfairDisplay';
    font-size: 20px;
    line-height: 27px;
    color: #2C2A2B;
}
.header__top-nav_menu{
    width: 354px;
    height: 17px;
}
.header__top-nav_menu li{
    display: inline-block;
    align-items: center;
    cursor: pointer;
}

.header__top-nav_menu li+li{
    padding-left: 50px;
}
.header__top-nav_menu a{
    font-family: 'ABeeZee';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2C2A2B;
}

.header__top-nav_icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    cursor: pointer;
}
.header{
    max-width: 1305px;
    min-height: 920px; 
    position: relative;
    margin:0 auto;
}
.header__images{
    display: flex;
    flex-wrap: wrap;
}

.header__images img{
    mix-blend-mode: multiply;
}

.header__images-bg{
    width: 355px;
    height: 195px;
    position: absolute;
    bottom: 0px;
    right: 171px;
    filter: blur(10px);
    background: #F8F3E9;
}

.header__images-ring{
    position: absolute;
    right: 0;
    bottom: 0px;
    min-height: 696px;
}

.header__ourstory{
    width: 354px;
    height: 143px;
    position: absolute;
    top:97px;
    right: 151px;
}

.header__ourstory-title{
    font-family: 'NotoSerifJP-Regular';
    font-size: 34px;
    line-height: 49px;
    color: #2C2A2B;
}

.header__ourstory-text{
    font-family: 'gilroy-medium';
    font-size: 14px;
    line-height: 150%;
    color: #3D3D3F;
}

.header__title{
    font-family: 'NotoSerifJP-Regular';
    font-weight: 600;
    font-size: 90px;
    line-height: 130%;
    color: #2C2A2B;
    position: absolute;
    width: 645px;
    height: 234px;
    left: 135px;
    bottom: 241px;
}

.header__twice-title{
    font-family: 'NotoSerifJP-Regular';
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #2C2A2B;
}

.header__twice-text{
    font-family: 'gilroy-medium';
    font-size: 12px;
    line-height: 14px;
    color: #3D3D3F;
    width: 156px;
}

.header__gold{
    position: absolute;
    left: 135px;
    bottom: 90px;
}

.header__silver{
    position: absolute;
    left: 351px;
    bottom: 90px;
}
.header__buttonblock{
    position: absolute;
    left: 653px;
    top: 340px;
}

.header__button{
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px solid #959596;
    border-radius: 50%;
    position: relative;
}

.header__button-title{
    font-family: 'gilroy-medium';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
    color: #3D3D3F;
    position: absolute;
    left: 32px;
    top: 49px;
}

.header__playvideoblock{
    display: flex;
    align-items: center;
    left: 1146px;
    top: 674px;
    position: absolute;
}

.header__playvideoblock-title{
    font-family: 'gilroy-medium';
    margin-left:15px;
    font-size: 18px;
    line-height: 21px;
    color: #3D3D3F;
}
