@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay.ttf');
    font-weight: 700;
  }
  @font-face {
    font-family: 'ABeeZee-Regular';
    src: url('../fonts/ABeeZee-Regular.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'gilroy-medium';
    src: url('../fonts/gilroy-medium.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'NotoSerifJP-Regular';
    src: url('../fonts/NotoSerifJP-Regular.otf');
    font-weight: 500;
  }
